@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Fuzzy Bubbles', cursive;
    
}

main {
    background: url(img/clipart.png) center center no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    height: 100%;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.itens #item {
    border: none;
    height: 30px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Fuzzy Bubbles', cursive;
}

.itens .btn {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    cursor: pointer;
    opacity: .8;
    transition: 0.3s;
}

.itens .btn:hover {
    opacity: 1;
}

#lista {
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 20px;
}

#lista p {
    padding: 6px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

#lista input[type=checkbox] {
    position: relative;
    cursor: pointer;
    bottom: 3px;
  }

  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    top: 0;
    
    left: 0;
    background-color: #87a29f;
  }

  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
  }

  span{
    margin: 0px 15px;
  }

#lista button {
    border: none;
    padding: 2px;
    width: 22px;
    height: 22px;
    border-radius: 25px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bold;
    font-size: 18px;
    color: #c9b2b2;
    cursor: pointer;
    transition: 0.3s;
}

#lista button:hover {
    color: #c36262;
}

@media (max-width: 700px ) {

    .header h1 {
        font-size: 30px;
    }
  
    .itens #item {
        width: 150px;
    }

    #lista p {
        font-size: 15px;
        padding: 6px;
        width: 200px;

    }
}
